# Python / Build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Configuração / Secrets
.env
.env.*
*.env

# Caches de ferramentas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Dados de runtime / projeto
*.pkl
postgres-data/

