# Python
__pycache__/

# Virtual environments
.venv/

# Configuração / Secrets
.env

# Caches de ferramentas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Dados de runtime / projeto
postgres-data/
